@charset "UTF-8";
/*******BREAKPOINTS********/
/*******VARIABLES*********/
/*********FONTS*******/
@font-face {
  font-family: 'Montserrat ExtraLight';
  src: url("../html5blank-stable/fonts/Montserrat-ExtraLight.ttf") format("ttf"), url("../html5blank-stable/fonts/Montserrat-ExtraLight.woff") format("woff"), url("../html5blank-stable/fonts/Montserrat-ExtraLight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat ExtraLight Italic';
  src: url("../html5blank-stable/fonts/Montserrat-ExtraLightItalic.ttf") format("ttf"), url("../html5blank-stable/fonts/Montserrat-ExtraLightItalic.woff") format("woff"), url("../html5blank-stable/fonts/Montserrat-ExtraLightItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Regular';
  src: url("../html5blank-stable/fonts/Montserrat-Regular.ttf") format("ttf"), url("../html5blank-stable/fonts/Montserrat-Regular.woff") format("woff"), url("../html5blank-stable/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Light';
  src: url("../html5blank-stable/fonts/Montserrat-Light.ttf") format("ttf"), url("../html5blank-stable/fonts/Montserrat-Light.woff") format("woff"), url("../html5blank-stable/fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Light Italic';
  src: url("../html5blank-stable/fonts/Montserrat-LightItalic.ttf") format("ttf"), url("../html5blank-stable/fonts/Montserrat-LightItalic.woff") format("woff"), url("../html5blank-stable/fonts/Montserrat-LightItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Medium';
  src: url("../html5blank-stable/fonts/Montserrat-Medium.ttf") format("ttf"), url("../html5blank-stable/fonts/Montserrat-Medium.woff") format("woff"), url("../html5blank-stable/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat Medium Italic';
  src: url("../html5blank-stable/fonts/Montserrat-MediumItalic.ttf") format("ttf"), url("../html5blank-stable/fonts/Montserrat-MediumItalic.woff") format("woff"), url("../html5blank-stable/fonts/Montserrat-MediumItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat SemiBold';
  src: url("../html5blank-stable/fonts/Montserrat-Medium.ttf") format("ttf"), url("../html5blank-stable/fonts/Montserrat-Medium.woff") format("woff"), url("../html5blank-stable/fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat SemiBoldItalic';
  src: url("../html5blank-stable/fonts/Montserrat-SemiBoldItalic.ttf") format("ttf"), url("../html5blank-stable/fonts/Montserrat-SemiBoldItalic.woff") format("woff"), url("../html5blank-stable/fonts/Montserrat-SemiBoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

/***********************/
/******** ADOBE ********/
/***********************/
/*
FreightBig Pro Bold
font-family: freight-big-pro, serif;
font-weight: 700;
font-style: normal;

FreightBig Pro Bold Italic
font-family: freight-big-pro, serif;
font-weight: 700;
font-style: italic;

FreightBig Pro Book
font-family: freight-big-pro, serif;
font-weight: 400;
font-style: normal;

FreightBig Pro Book Italic
font-family: freight-big-pro, serif;
font-weight: 400;
font-style: italic;

FreightBig Pro Light
font-family: freight-big-pro, serif;
font-weight: 300;
font-style: normal;

FreightBig Pro Light Italic
font-family: freight-big-pro, serif;
font-weight: 300;
font-style: italic;

FreightBig Pro Medium
font-family: freight-big-pro, serif;
font-weight: 500;
font-style: normal;

FreightBig Pro Medium Italic
font-family: freight-big-pro, serif;
font-weight: 500;
font-style: italic;

FreightBig Pro Semibold
font-family: freight-big-pro, serif;
font-weight: 600;
font-style: normal;

FreightBig Pro Semibold Italic
font-family: freight-big-pro, serif;
font-weight: 600;
font-style: italic;
/***********************/
/***********************/
/***********************/
/** BASE **/
*:focus {
  outline: none; }

html {
  /*scroll-behavior: smooth;*/
  overflow-x: hidden;
  font-size: 62.5% !important;
  position: relative; }
  @media (max-width: 1680px) {
    html {
      font-size: 55.5% !important; } }
  @media (min-width: 1780px) {
    html {
      font-size: 76.5% !important; } }

html::-webkit-scrollbar {
  display: none; }

/* Hide scrollbar for IE and Edge */
html {
  -ms-overflow-style: none; }

* {
  box-sizing: border-box; }

body, a, p, span, li {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto; }

.has-scroll-smooth body {
  max-height: calc(100vh - 2.5rem); }

.hidden {
  display: none !important; }

ul, a, li {
  text-decoration: none;
  list-style-type: none; }

a.active,
a:active,
a:focus,
a:hover {
  text-decoration: none !important; }

.centered {
  margin: 0 auto !important; }

.container {
  margin: 0 !important;
  padding: 0 !important; }

.center-text {
  text-align: center; }

/** GENERAL FONTS AND STYLES **/
a:hover, a:active, a:focus {
  color: #930e0f !important; }

h1, h2 {
  font-family: 'Montserrat Regular';
  font-size: 4.8rem !important;
  line-height: 4.8rem !important; }

h3 {
  font-family: 'Montserrat Regular';
  font-size: 1.8rem !important;
  line-height: 2.4rem !important; }
  h3 .date {
    font-size: 3.6rem;
    line-height: 3.6rem;
    font-family: 'Montserrat Light'; }

h4 {
  font-family: freight-big-pro, serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3.6rem !important;
  line-height: 3.6rem !important;
  text-transform: uppercase; }

h5 {
  font-family: freight-big-pro, serif;
  font-weight: 800;
  font-style: normal;
  font-size: 23.6rem !important;
  line-height: 3.6rem !important; }

p {
  font-family: 'Montserrat Regular';
  font-size: 1.6rem;
  line-height: 2.4rem; }

blockquote {
  font-family: freight-big-pro, serif;
  font-weight: 400;
  font-style: italic;
  color: #930e0f;
  font-size: 2.8rem;
  line-height: 3.0rem;
  border-left: 0px !important;
  padding: 0px;
  margin: 0px;
  position: relative; }
  blockquote:before {
    content: "‘‘";
    font-size: 7.2rem;
    position: absolute;
    left: -4rem; }
  blockquote:after {
    content: "’’";
    font-size: 7.2rem;
    position: absolute;
    bottom: -4rem; }

.button, #SeeButton, input[type="submit"] {
  font-family: 'Montserrat Light';
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  background-color: transparent;
  position: relative;
  border: 1px solid #930e0f;
  color: #930e0f !important;
  padding: 4px 14px;
  transition: 0.5s ease;
  display: inline-block;
  border-radius: 0px;
  /* &:hover, &:active, &:focus{
        background-color: $color-red;
        color: white!important;
        transition: 0.5s ease;
    }*/
  z-index: 0; }
  .button:before, #SeeButton:before, input[type="submit"]:before {
    content: '';
    background: #930e0f;
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    transition: 0.3s linear;
    z-index: -1; }
  .button:hover, .button:active, .button:focus, #SeeButton:hover, #SeeButton:active, #SeeButton:focus, input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
    color: white !important;
    transition: 0.5s ease; }
    .button:hover:before, .button:active:before, .button:focus:before, #SeeButton:hover:before, #SeeButton:active:before, #SeeButton:focus:before, input[type="submit"]:hover:before, input[type="submit"]:active:before, input[type="submit"]:focus:before {
      width: 100%; }

input[type="submit"]:hover, input[type="submit"]:active, input[type="submit"]:focus {
  background: #930e0f; }

.black {
  color: #0e0e0e; }

.red {
  color: #930e0f; }

/** FORM **/
form input, form textarea, form select {
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  margin: 0.8rem 1rem;
  border: none;
  font-family: 'Montserrat Regular', sans-serif;
  font-size: 1.6rem; }

form input[type="submit"] {
  width: auto; }

/** LAYOUT **/
.woocommerce-products-header {
  display: none !important; }

body {
  padding: 2.5rem; }
  body .wrapper {
    background-color: #f7f6f3 !important;
    overflow-y: hidden;
    overflow-x: visible; }
  body .pageContainer {
    min-height: 100vh; }

footer {
  padding: 6rem 0rem; }
  footer p, footer a, footer a:focus, footer a:hover, footer a:visited {
    color: #930e0f !important; }
  footer .row {
    position: relative; }
  footer .text-left a {
    font-family: 'Montserrat Regular';
    display: block;
    font-size: 1.6rem;
    line-height: 3.2rem; }
  footer .center-text {
    font-family: 'Montserrat Regular';
    display: block;
    font-size: 1.6rem;
    line-height: 3.2rem; }
    footer .center-text div {
      margin-top: 3.4rem; }
  footer .text-right {
    margin-top: 3.4rem; }
    footer .text-right a {
      font-size: 2.2rem;
      line-height: 2.2rem;
      margin-left: 1.2rem; }

header {
  z-index: 10;
  position: absolute;
  right: 0; }
  header nav {
    text-align: center;
    position: relative; }
    header nav #menuLogo {
      display: inline-block;
      margin-top: -1rem !important; }
      header nav #menuLogo img {
        width: 14.3rem; }
    header nav ul {
      position: absolute;
      right: 0;
      top: 2rem; }
      header nav ul li {
        display: inline-block;
        text-align: left;
        margin: 0rem 2.0rem; }
        header nav ul li a {
          font-family: 'Montserrat Regular';
          font-size: 1.6rem;
          line-height: 2.4rem;
          color: #8a8988;
          transition: 0.5s ease;
          border-bottom: 1px solid transparent;
          padding-bottom: 0.6rem;
          opacity: 0.5; }
          header nav ul li a:visited {
            color: inherit !important; }
          header nav ul li a:active, header nav ul li a:hover, header nav ul li a:focus, header nav ul li a.active {
            color: #930e0f !important;
            border-bottom: 1px solid #930e0f;
            transition: 0.5s ease;
            opacity: 1; }

/** SLIDER **/
.slick-initialized .slick-slide {
  overflow: hidden;
  outline: none; }

.slick-slide img {
  display: block;
  max-width: 100%;
  margin-top: 4rem; }

.slick-dots {
  bottom: -10rem !important; }

.slick-dots li button:before {
  color: transparent !important;
  border: 1px solid #930e0f !important;
  border-radius: 20px; }

.slick-prev:before, .slick-next:before {
  font-family: "Montserrat Regular", sans-serif !important;
  font-size: 4.6rem !important;
  color: #CECECECE !important; }

.slick-next {
  right: -10rem !important; }

.slick-prev {
  left: -10rem !important; }

.slick-dots li button:before {
  width: 10px !important;
  height: 10px !important;
  color: transparent !important; }

.slick-dots li.slick-active button:before, .slick-dots li:hover button:before {
  background-color: #930e0f !important;
  transition: 0.5s ease; }

/** Sections **/
section .button {
  margin-top: 1.7rem; }

.separator {
  border-right: 1px solid #930e0f;
  margin: 9.6rem 0rem; }

#TitleContainer {
  padding: 14.6rem 0rem 0.6rem 0rem;
  position: relative; }
  #TitleContainer p {
    position: relative; }
    #TitleContainer p:before {
      content: "";
      width: 12rem;
      border-bottom: 1px solid #930e0f;
      height: 4px;
      display: block;
      position: absolute;
      left: -2.4rem;
      top: 1.6rem; }
  #TitleContainer .col-9, #TitleContainer .col-12 {
    position: relative; }
  #TitleContainer h1 {
    font-family: 'Montserrat Light', sans-serif;
    font-size: 4.8rem;
    line-height: 4.8rem;
    color: #930e0f; }
  #TitleContainer h5 {
    opacity: 0.025;
    position: absolute;
    left: 2rem;
    font-size: 31rem !important; }

#HeroContainer, #QuoteContainer {
  padding: 18.6rem 0rem !important; }

#EntrepriseIntro {
  padding: 0rem 0rem 18.6rem 0rem !important; }
  #EntrepriseIntro .intro-right {
    padding-top: 24.6rem; }
  #EntrepriseIntro .columns p {
    font-family: freight-big-pro, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 2.6rem !important;
    line-height: 3rem !important; }
    #EntrepriseIntro .columns p.left {
      padding: 0rem 9rem 0rem 0rem; }
    #EntrepriseIntro .columns p.right {
      padding: 0rem 0rem 0rem 9rem; }
  #EntrepriseIntro .separator {
    margin: 14.6rem 0rem; }

#HeroContainer #HeroCardsContainer .card-container {
  display: inline-block;
  position: relative;
  width: 16rem; }
  #HeroContainer #HeroCardsContainer .card-container.offset {
    margin: 0rem 3%;
    height: 36rem; }
    #HeroContainer #HeroCardsContainer .card-container.offset img {
      position: absolute;
      top: 0px; }

#HeroContainer #HeroCardsContainer img {
  width: 100%;
  margin-top: 6rem; }

#QuoteContainer #QuoteTextContainer {
  padding-top: 18rem; }

.CTA {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important;
  position: relative; }
  .CTA:before {
    content: "";
    width: 12rem;
    border-bottom: 1px solid #930e0f;
    height: 4px;
    display: block;
    position: absolute;
    left: -2.4rem;
    top: 1.6rem; }
  .CTA:after {
    content: "";
    width: 12rem;
    border-bottom: 1px solid #930e0f;
    height: 4px;
    display: block;
    position: absolute;
    right: -2.4rem;
    top: 1.6rem; }
  .CTA h5 {
    position: absolute;
    opacity: 0.03;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -2rem; }

#AteliersHome, #EntrepriseDemande, #EntrepriseCarte {
  padding-top: 12rem !important;
  padding-bottom: 26rem !important; }
  #AteliersHome h3, #EntrepriseDemande h3, #EntrepriseCarte h3 {
    margin-bottom: 2.2rem; }
  #AteliersHome h2, #AteliersHome p, #EntrepriseDemande h2, #EntrepriseDemande p, #EntrepriseCarte h2, #EntrepriseCarte p {
    margin-bottom: 3.2rem; }
  #AteliersHome .button, #EntrepriseDemande .button, #EntrepriseCarte .button {
    margin-top: 0rem; }
  #AteliersHome .video-container, #EntrepriseDemande .video-container, #EntrepriseCarte .video-container {
    height: 65.8rem;
    max-width: 50.8rem; }
  #AteliersHome .video-container, #EntrepriseDemande .video-container, #EntrepriseCarte .video-container {
    overflow: hidden; }
    #AteliersHome .video-container video, #EntrepriseDemande .video-container video, #EntrepriseCarte .video-container video {
      height: 100%; }

#EntrepriseDemande h3, #EntrepriseCarte h3 {
  position: relative;
  margin-top: 9.6rem; }

#EntrepriseDemande h3:before {
  content: "";
  width: 12rem;
  border-bottom: 1px solid #930e0f;
  height: 4px;
  display: block;
  position: absolute;
  left: -12vw;
  top: 1.6rem; }

#EntrepriseDemande video {
  margin-left: -100%; }

#EntrepriseCarte h3:before {
  content: "";
  width: 12rem;
  border-bottom: 1px solid #930e0f;
  height: 4px;
  display: block;
  position: absolute;
  right: -12vw;
  top: 1.6rem; }

#EntrepriseCarte video {
  margin-left: -40%; }

#ContactHome {
  padding-top: 16rem !important;
  padding-bottom: 8rem !important; }
  #ContactHome p, #ContactHome .button {
    margin-bottom: 7.2rem; }
  #ContactHome p {
    font-size: 2.4rem !important;
    line-height: 3.6rem !important; }

#AteliersContainer p {
  margin: 0rem 0rem 3.2rem 0rem; }

#AteliersContainer .row-increment:first-child {
  counter-reset: div; }

#AteliersContainer .row-increment {
  counter-increment: div; }

#AteliersContainer .atelier-card {
  padding: 8rem 0rem; }

#AteliersContainer .woocommerce img, #AteliersContainer .woocommerce-page img {
  width: 100%; }

#AteliersContainer .counter-increment {
  padding-top: 4.8rem;
  text-align: center; }
  #AteliersContainer .counter-increment:before {
    content: "0" counters(div, "");
    font-size: 4.8rem;
    opacity: 0.1; }
